@page
@model RazorPages002.Pages.Employees.EmployeesModel
@{
    ViewData["Title"] = "Employees";
}

@if (TempData["SeccessMessage"] !=null)
{
    <div class="alert alert-success text-center">
        @TempData["SeccessMessage"]

    </div> 

}

<h1>Employees</h1>

<h3>Employees count: @Model.Employees.Count()</h3>

<div class="row">
    @foreach (var item in Model.Employees)
    {
        var photoPath = $"/images/{item.PhotoPath ?? "noimage.png"}";

        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card m-3 cardBoxShadow">
                <div class="card-header text-center cardHeaderStyle">
                    <h3>@item.Name</h3>
                </div>

                <div class="text-center cardBodyStyle">
                    <img class="card-img-top imageThumbnail" src="@photoPath" asp-append-version="true"/>
                </div>

                <div class="card-footer text-center">
                    <a asp-page="/Employees/Details" asp-route-Id="@item.Id" class="btn btn-success m-1 buttonShadow"  >View</a>
                    <a asp-page="/Employees/Edit" asp-route-Id="@item.Id" class="btn btn-primary m-1 buttonShadow">Edit</a>
                    <a asp-page="/Employees/Delete" asp-route-Id="@item.Id" class="btn btn-danger m-1 buttonShadow">Delete</a>
                </div>

            </div> 

        </div>

    }

</div>


